*~
*.pyc
mincemeatpy-*.tar.gz
build/
.DS_Store
*.swp
/My Advisor Results - mincepie/project_read_only.infoadvixe
/My Advisor Results - mincepie/project_read_only.dflgadvixe
/My Advisor Results - mincepie/My Advisor Results - mincepie.advixeproj
/My Advisor Results - mincepie/e000/e000.advixeexp
